<h1>Привет {{user.firstName}}</h1>
<h4>Твои истории</h4>
{{#if stories}}
<div style="overflow: auto;">
    <table class="striped">
        <thead>
            <tr>
                <th>Заголовок</th>
                <th>Дата создания</th>
                <th>Статус</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each stories}}
                <tr>
                    <td><a href="/stories/show/{{id}}">{{title}}</a></td>
                    <td>{{formatDate data 'MMMM do YYYY'}}</td>
                    <td><span class="dash-status">{{status}}</span></td>
                    <td>
                        <a class="btn left-align" href="/stories/edit/{{id}}"><i class="fas fa-pencil-alt left"></i> Редактировать</a>
                        <form action="/stories/{{id}}?_method=DELETE" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn red"><i class="fas fa-trash left"></i> Удалить</button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
{{else}}
    <p>You have not created any stories yet</p>
{{/if}}