
<h1>Твои истории</h1>
{{#if stories}}


    <div class="row">
       <div class="col m3">Заголовок</div>
       <div class="col m3">Дата создания</div>
       <div class="col m3">Статус</div>
</div>
        <div class="row">
            {{#each stories}}
            <div class="row">
                    <div class="col m3"><a href="/stories/show/{{id}}">{{title}}</a></div>
                    <div class="col m3">{{formatDate data 'MMMM do YYYY'}}</div>
                    <div class="col m2"><span class="dash-status">{{status}}</span></div>
                    <div>
                        <a class="btn left-align" href="/stories/edit/{{id}}"><i class="fas fa-pencil-alt left"></i> Редактировать</a>
                        <form action="/stories/{{id}}?_method=DELETE" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn red"><i class="fas fa-trash left"></i> Удалить</button>
                        </form>
                    </div>
            </div>
            {{/each}}
        </div>

{{else}}
    <p>Вы еще не опубликовали ни одной истории!</p>
{{/if}}